<div class="row">
	<div class="row">
	<section class="content">
		<div class="main brand">
			<img src="images/logo-transparent-color.png" alt="{{config.brand}}" />
		</div>
		<div class="login-box {{ loading ? 'loading' : '' }}" ng-class="(error && 'error')">
			<form name="forgotPassword" ng-submit="resetPassword()" role="form">
					<div class="message">
						{{message}}
					</div>
					<div class="row">
						<input type="email" name="email" class="form-control" ng-model="email" placeholder="Email" required />
					</div>
					<div class="row button-row">
						<button class="btn btn-block" type="submit">Reset Password</button>
					</div>
					<div class="row forgot-password">
						<a ng-href="#/login">Back to Login</a>
					</div>
			</form>
		</div>
	</section>
	<div>
<div>
