// graph Background
$backgroundColor : #fff;
$backgroundColorHeading : #f5f5f5;
$textColor : #000;

$graphBackground : $backgroundColor;
$graphHeadingBackground : $backgroundColorHeading;
$graphHeadingTextColor : $textColor;
